$blue-color: #5A5A5A;
$gray-color: #f2f2f2;

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #4A4E4D;
  background: $blue-color;
  letter-spacing: 1px;
}

.blue-line {
  width: 100%;
  min-height: 200px;
  background: $blue-color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  background: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  box-shadow: 0 10px 0 10px #888888;
  box-shadow: 0px 6px 5px 0px rgba(116,116,116,0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.row {
  margin: 0;
}


.github-fork-ribbon:before {
  background: $gray-color;
  width: 15.38em;
  height: 2.5em;
}

.github-fork-ribbon:after {
  color: #4A4E4D;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
}

ul li {
  margin-left: -35px;
}
