.content {

  .block {
    width: 100%;

    span.title {
      font-size: 2em;
      font-weight: 200;
      display: inline-block;
    }

    p.info {
      font-size: 1.5em;
      font-weight: 200;
    }

  }
}
