.content {

  .block {
    width: 100%;

    div.title {
      font-size: 2em;
      font-weight: 200;
    }

    img.title-icon {
      width: 28px;
    }

    p.info {
      font-size: 1.5em;
      font-weight: 200;
      margin-top: 10px;

    
    }


  }

  .mt-30 {
    margin-top: 30px;
  }
}
