/*Created by Rudolfo Borges
Created at 04/09/2016 */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #4A4E4D;
  background: #5A5A5A;
  letter-spacing: 1px; }

.blue-line {
  width: 100%;
  min-height: 200px;
  background: #5A5A5A;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.container {
  background: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  box-shadow: 0 10px 0 10px #888888;
  box-shadow: 0px 6px 5px 0px rgba(116, 116, 116, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.row {
  margin: 0; }

.github-fork-ribbon:before {
  background: #f2f2f2;
  width: 15.38em;
  height: 2.5em; }

.github-fork-ribbon:after {
  color: #4A4E4D; }

ul {
  list-style-type: none;
  font-size: 1.5em; }

ul li {
  margin-left: -35px; }

.header {
  min-height: 360px;
  width: 100%; }
  .header .rb-photo {
    width: 200px;
    min-height: 200px;
    background: url("../images/rudolfoborges.png") transparent no-repeat;
    background-size: 200px;
    margin: 0 auto;
    margin-top: -120px; }
  .header .text-header {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    border-bottom: 5px double #e9e9e9; }
    .header .text-header h1 {
      font-size: 4em;
      font-weight: 500;
      margin: 0; }
    .header .text-header h2 {
      font-size: 2em;
      font-weight: 200;
      color: #2F4254;
      margin: 0; }
  .header .devicons {
    font-size: 1.2em;
    margin-bottom: 20px; }

.content .block {
  width: 100%; }
  .content .block div.title {
    font-size: 2em;
    font-weight: 200; }
  .content .block img.title-icon {
    width: 28px; }
  .content .block p.info {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 10px; }
  .content .block ul.info-list {
    list-style-type: circle; }
    .content .block ul.info-list li {
      font-weight: 200;
      margin-left: -10px; }

.content .mt-30 {
  margin-top: 30px; }

.content div.jobs {
  font-size: 1.5em;
  font-weight: 200; }
  .content div.jobs div.job span.job-name {
    display: block;
    font-weight: bold; }
  .content div.jobs div.job span.job-role {
    display: block; }
  .content div.jobs div.job ul li {
    font-size: 0.7em; }

.content div.projects {
  font-size: 1.5em;
  font-weight: 200; }
  .content div.projects div.project span.project-name {
    display: block;
    font-weight: bold; }
  .content div.projects div.project span.project-description {
    display: block; }
  .content div.projects div.project ul li {
    font-size: 0.7em; }
